* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #E0E0E0;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.calculator-container {
    width: 350px;
    height: 650px;

    border: solid #1E1E1E;
    border-radius: 20px;
    background-color: #1E1E1E;

    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.calculator-head {
    width: 100%;

    border: 1px solid #242424;
    border-radius: 20px;
    background-color: #242424;

    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 3;
}

.calculator-head * {
    width: 90%;

    border: 1px solid #242424;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: xx-large;
    direction: rtl;

    display: flex;
    flex-flow: column;
    flex: 1;
}

.calculator-body {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column;
    justify-content: start;
    gap: 5px;
    flex: 10;
}

.button-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
    flex: 1;
}

button {
    height: 100%;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: 100px;

    flex: 1;
}   

.spec {
    background-color: #3C3C3C;
    color: #FF3B30;
    font-weight: bold;
}

.operator {
    background-color: #FF9500;
    color: #FFFFFF;
}

.number {
    background-color: #2A2A2A;
    color: #E0E0E0;
}





